@font-face {
  font-family: "Rokkitt";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Rokkitt/Rokkitt-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Rokkitt";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Rokkitt/Rokkitt-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Rokkitt";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Rokkitt/Rokkitt-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Rokkitt";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Rokkitt/Rokkitt-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "Rokkitt";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Rokkitt/Rokkitt-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Rokkitt";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Rokkitt/Rokkitt-Black.ttf") format("truetype"); }

@font-face {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Libre Baskerville";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf") format("truetype"); }

/* font-styles */
/* colors */
/* measurements */
/** {
  outline: 1px solid red;
}*/
html {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #71706f;
  font-family: "Rokkitt";
  font-style: normal;
  color: #71706f;
  background-color: white; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

h1,
h2,
h3,
h4 {
  margin: 0; }

p {
  margin: 0; }

img {
  display: block;
  height: auto; }

input,
textarea {
  box-sizing: border-box; }

@media (min-width: 768px) {
  body {
    font-size: 12px;
    line-height: 18px; } }

@media (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 1.5; } }

.container {
  margin: 0 auto;
  max-width: 767px; }

@media (min-width: 768px) {
  .container {
    max-width: 1023px; } }

@media (min-width: 1024px) {
  .container {
    max-width: 1443px; } }

.title {
  text-align: center;
  color: white;
  font-size: 32px;
  line-height: 1;
  font-weight: 800; }

.title__secondary {
  text-align: center;
  color: #27292b;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.1; }

.title__third {
  color: #27292b;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1; }

@media (min-width: 768px) {
  .title {
    font-size: 62px; }
  .title__secondary {
    font-size: 26px; }
  .title__third {
    font-size: 20px; } }

.btn {
  display: block;
  color: inherit;
  text-decoration: none;
  margin: 0 5%;
  padding: 14px 19px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-family: "Libre Baskerville";
  background-color: #988378;
  border: none; }

.btn--framed {
  border: 2px solid #ecc9b7;
  background-color: transparent;
  color: #27292b; }

@media (min-width: 768px) {
  .btn {
    display: inline-block;
    margin: 0 auto; } }

.handlers {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  transform: translate(-50%, -50%); }

.handlers__item {
  width: 16px;
  height: 16px;
  border: 5px solid #988378;
  background-color: transparent;
  transform: rotate(45deg); }

.handlers__item--right {
  border-bottom: none;
  border-left: none; }

.handlers__item--left {
  border-top: none;
  border-right: none; }

.handlers__item--disabled {
  opacity: 0.6; }

.main-header {
  position: relative;
  padding-bottom: 60px;
  text-align: center;
  color: white;
  background-color: black;
  z-index: 1; }
  .main-header::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    background-image: url("../img/header-bg-mobile.jpg");
    background-size: cover;
    background-position: center 30px;
    opacity: 0.6;
    z-index: -1; }

.main-header__moto {
  margin-top: 15px;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 800; }

.main-header__btn {
  margin-top: 30px; }

@media (min-width: 480px) {
  .main-header__btn {
    display: inline-block;
    margin: 0 auto;
    margin-top: 30px; } }

@media (min-width: 768px) {
  .main-header {
    padding-bottom: 120px; }
  .main-header__moto {
    margin-top: 30px;
    font-size: 26px; } }

.header-top {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px 16px;
  background-color: black;
  z-index: 1; }
  .header-top::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    background-image: url("../img/dark-background.jpg");
    background-size: cover;
    opacity: 0.5;
    z-index: -1; }

.header-top__social .social__list {
  flex-direction: row; }

.header-top__social .social__item {
  margin-right: 12px; }
  .header-top__social .social__item:last-of-type {
    margin-right: 0; }

.header-top__social .social__link {
  position: relative;
  width: 26px;
  height: 26px;
  border: 1px solid white;
  border-radius: 50%; }

.header-top__social .social__link svg {
  width: 16px;
  height: 16px;
  fill: white; }

@media (min-width: 768px) {
  .header-top {
    padding: 12px 32px; } }

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex; }

.social__link {
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;
  border-radius: 50%; }

.social__link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.main-nav {
  margin-bottom: 34px;
  padding: 46px 24px; }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none; }

.main-nav__link {
  display: block;
  color: inherit;
  text-decoration: none; }

@media (min-width: 768px) {
  .main-nav {
    margin-bottom: 90px;
    padding: 46px 32px; } }

.logo {
  display: block;
  color: inherit;
  text-decoration: none;
  text-align: center;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 1;
  font-weight: 800; }

@media (min-width: 768px) {
  .logo {
    font-size: 26px; } }

.toggler {
  width: 24px;
  height: 16px; }

.toggler__element {
  position: relative;
  display: block;
  width: 24px;
  height: 2px;
  background-color: white; }
  .toggler__element::before {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: white;
    top: 6px;
    left: 0; }
  .toggler__element::after {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: white;
    top: 12px;
    left: 0; }

.menus {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white; }

.menus__title {
  margin-bottom: 30px; }

.menus__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px; }

.menus__item {
  position: relative;
  margin-bottom: 2px;
  padding: 50px 16px;
  height: 144px;
  color: white;
  background-color: black;
  z-index: 1; }
  .menus__item::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    background-size: cover;
    opacity: 0.6;
    z-index: -1; }

.menus__item--coffee::before {
  background-image: url("../img/coffee-menu-mobile.jpg"); }

.menus__item--food::before {
  background-image: url("../img/food-menu-mobile.jpg"); }

.menus__item--drinks::before {
  background-image: url("../img/drinks-menu-mobile.jpg"); }

.menus__item-title {
  margin-bottom: 18px;
  text-align: center;
  color: white; }

.menus__item p {
  text-align: center; }

.menus__link {
  display: block;
  color: inherit;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
  color: #e59d75;
  font-family: "Libre Baskerville"; }

@media (min-width: 365px) {
  .menus__item {
    height: 122px; } }

@media (min-width: 717px) {
  .menus__item {
    height: 100px; } }

@media (min-width: 768px) {
  .menus {
    text-align: center; }
  .menus__item {
    margin-right: 50%;
    height: 300px;
    box-sizing: border-box; }
    .menus__item::before {
      opacity: 1; }
  .menus__item-content {
    position: absolute;
    top: 0;
    left: 100%;
    padding: 70px 28px;
    width: 100%;
    height: 100%;
    background-color: black;
    box-sizing: border-box;
    z-index: 1; }
    .menus__item-content::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: transparent;
      top: 0;
      left: 0;
      background-image: url("../img/dark-background.jpg");
      opacity: 0.5;
      z-index: -1; } }

.cafes {
  position: relative;
  padding: 40px 16px;
  background-color: black;
  z-index: 1; }
  .cafes::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    background-image: url("../img/dark-background.jpg");
    background-size: cover;
    opacity: 0.5;
    z-index: -1; }

.cafes__title {
  margin-bottom: 30px;
  color: white; }

.cafes__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column; }

.cafes__item {
  margin-bottom: 27px;
  background-color: white; }
  .cafes__item:last-of-type {
    margin-bottom: 0; }

.cafes__picture-wrap {
  position: relative;
  max-height: 180px;
  min-height: 180px;
  width: 100%;
  overflow: hidden; }

.cafes__picture-wrap img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.cafes__text-wrap {
  padding: 30px 15px; }

.cafes__article-title {
  margin-bottom: 15px; }

.cafes__article-link {
  display: block;
  color: inherit;
  text-decoration: none;
  margin-top: 15px;
  color: #e59d75;
  font-family: "Libre Baskerville"; }

.cafes__btn {
  margin: 0;
  margin-top: 30px;
  width: 100%; }

@media (min-width: 570px) {
  .cafes__picture-wrap {
    min-height: 180px;
    max-height: 246px; } }

@media (min-width: 768px) {
  .cafes {
    padding: 40px 32px;
    text-align: center; }
  .cafes__picture-wrap {
    min-height: 246px;
    max-height: 321px; }
  .cafes__text-wrap {
    text-align: left; }
  .cafes__btn {
    width: auto; } }

.vendors {
  padding: 40px 16px; }

.vendors__title {
  margin-bottom: 8px; }

.vendors__text {
  margin-bottom: 30px;
  text-align: center; }

.vendors__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column; }

.vendors__item {
  margin-bottom: 30px; }
  .vendors__item:last-of-type {
    margin-bottom: 0; }

.vendors__picture-wrap {
  margin-bottom: 30px;
  min-height: 181px;
  max-height: 453px;
  width: 100%;
  overflow: hidden; }

.vendors__picture-wrap img {
  width: 100%;
  height: auto; }

.vendors__item-title {
  margin-bottom: 15px; }

@media (min-width: 768px) {
  .vendors {
    padding: 40px 32px; }
  .vendors__list {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-column-gap: 30px; }
  .vendors__picture-wrap {
    min-width: 212px; } }

.services {
  padding: 40px 16px; }

.services__title {
  margin-bottom: 30px; }

.services__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.services__item {
  margin-bottom: 30px; }
  .services__item:last-of-type {
    margin-bottom: 0; }

.services__picture-wrap {
  margin: 0 12%;
  margin-bottom: 30px; }

.services__picture-wrap img {
  width: 100%;
  height: 100%; }

.services__item-title {
  margin-bottom: 15px; }

.services__item-btn {
  margin: 0;
  margin-top: 20px;
  width: 100%; }

@media (min-width: 768px) {
  .services {
    padding: 40px 32px; }
  .services__list {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 48%);
    grid-column-gap: 4%; }
  .services__item {
    margin: 0; }
  .services__picture-wrap {
    margin: 0;
    margin-bottom: 30px; }
  .services__item-btn {
    width: auto; } }

.present-list {
  position: relative;
  padding: 40px 16px;
  color: white;
  background-color: black;
  z-index: 1; }
  .present-list::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    background-image: url("../img/present-list-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    opacity: 0.7;
    z-index: -1; }

.present-list__title {
  margin-bottom: 8px;
  color: white; }

.present-list p {
  text-align: center; }

.present-list__btn {
  margin: 0;
  margin-top: 30px; }

@media (min-width: 768px) {
  .present-list {
    padding: 40px 32px; }
  .present-list__title {
    text-align: left; }
  .present-list p {
    text-align: left; } }

.about {
  padding: 40px 16px; }

.about__picture-wrap {
  margin-bottom: 30px;
  width: 100%; }

.about__picture-wrap img {
  width: 100%; }

.about__title {
  margin-bottom: 30px; }

.about p {
  margin-bottom: 8px;
  text-align: center; }
  .about p:nth-of-type(2) {
    margin-bottom: 24px; }

.about__btn {
  margin: 0;
  margin-top: 30px; }

@media (min-width: 768px) {
  .about {
    padding: 40px 32px;
    text-align: center; } }

.awards {
  position: relative;
  padding: 40px 16px;
  color: white;
  background-color: black;
  z-index: 1; }
  .awards::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    background-image: url("../img/dark-background.jpg");
    background-repeat: no-repeat;
    opacity: 0.4;
    z-index: -1; }

.awards__title {
  margin-bottom: 30px;
  color: white; }

.awards__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.awards__item {
  margin-bottom: 30px; }

.awards__picture {
  margin: 0 20%;
  margin-bottom: 20px; }

.awards__picture img {
  width: 100%; }

.awards__name {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 700; }

@media (min-width: 768px) {
  .awards {
    padding: 40px 32px; }
  .awards__list {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-column-gap: 4%; } }

.article-best-coffee-shop {
  padding: 40px 16px; }

.article-best-coffee-shop__title {
  margin-bottom: 30px;
  text-align: left; }

.article-best-coffee-shop__picture-wrap {
  margin-bottom: 30px;
  width: 100%; }

.article-best-coffee-shop__picture-wrap img {
  width: 100%; }

.article-best-coffee-shop__btn {
  margin: 0;
  margin-top: 30px; }

@media (min-width: 768px) {
  .article-best-coffee-shop {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-column-gap: 4%;
    grid-template-rows: auto auto auto;
    padding: 40px 32px; }
  .article-best-coffee-shop__title {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center; }
  .article-best-coffee-shop__picture-wrap {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: -1;
    margin: 0; }
  .article-best-coffee-shop p {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 2;
    align-self: center;
    margin: 0; }
  .article-best-coffee-shop__btn {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 3;
    grid-row-end: -1;
    align-self: end;
    justify-self: left;
    margin-top: 15px; } }

.testimonials {
  position: relative;
  padding: 40px 16px; }

.testimonials__title {
  margin-bottom: 30px; }

.testimonials__list-wrap {
  position: relative; }

.testimonials__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 70px; }

.testimonials__name {
  display: block;
  margin-bottom: 15px;
  text-align: center;
  color: #27292b;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1; }

.testimonials__item {
  display: none; }

.testimonials__item--active {
  display: block; }

.testimonials__item p {
  text-align: center; }

.testimonials__date {
  display: block;
  margin-top: 12px;
  text-align: center;
  font-size: 12px; }

.testimonials__handlers {
  top: unset;
  bottom: 0;
  width: 25%; }

.testimonials__handlers .handlers__item {
  width: 22px;
  height: 22px;
  border-width: 7px; }

@media (min-width: 768px) {
  .testimonials {
    padding: 40px 94px; }
  .testimonials__handlers {
    top: 47%;
    width: 112%; } }

.job-index {
  position: relative;
  padding: 40px 16px;
  color: white;
  background-color: black;
  z-index: 1; }
  .job-index::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    background-image: url("../img/job-coffeeld-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    z-index: -1; }

.job-index__title {
  margin-bottom: 8px;
  color: white; }

.job-index p {
  text-align: center; }

.job-index__btn {
  margin-top: 30px; }

@media (min-width: 768px) {
  .job-index {
    padding: 40px 32px; }
    .job-index::before {
      background-position: center; }
  .job-index__title {
    text-align: left; }
  .job-index p {
    text-align: left; } }

.gallery-index {
  position: relative;
  padding: 40px 0; }

.gallery-index__title {
  margin-bottom: 30px; }

.gallery-index__list-wrap {
  position: relative; }

.gallery-index__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.gallery-index__item {
  display: none;
  width: 100%; }

.gallery-index__item--active {
  display: block; }

.gallery-index__item img {
  width: 100%; }

.gallery-index__btn {
  margin-top: 30px; }

.gallery-index__big-picture-container {
  display: none; }

@media (min-width: 768px) {
  .gallery-index {
    padding: 40px 32px;
    text-align: center;
    overflow: hidden; }
  .gallery-index__big-picture-container {
    display: block;
    margin-bottom: 30px;
    min-height: 352px;
    width: 100%;
    background-color: rgba(103, 103, 103, 0.2); }
  .gallery-index__big-picture-container img {
    width: 100%; }
  .gallery-index__list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    margin: 0 50px; }
  .gallery-index__item {
    width: auto;
    min-height: 67px; }
  .gallery-index__item img {
    min-height: 67px; } }

.gallery-index__handlers {
  width: 95%; }

.location-index {
  position: relative;
  padding: 40px 16px;
  background-color: white;
  z-index: 1; }
  .location-index::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    background-image: url("../img/light-background.jpg");
    background-size: cover;
    opacity: 0.4;
    z-index: -1; }

.location-index__title {
  margin-bottom: 30px; }

.location-index__map {
  margin-bottom: 30px;
  width: 100%; }

.location-index__map iframe {
  width: 100%;
  min-height: 167px;
  max-height: 417px; }

.location-index__logo {
  margin-bottom: 30px;
  font-weight: 400; }

.location-index__element {
  margin-bottom: 20px; }

.location-index__element-name {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #27292b; }

.location-index__link {
  color: #e59d75;
  text-decoration: underline; }

.location-index__social .social__item {
  margin-right: 15px; }
  .location-index__social .social__item:last-of-type {
    margin-right: 0; }

.location-index__social .social__link {
  width: 40px;
  height: 40px;
  border: 2px solid #3f4246; }

.location-index__social .social__link svg {
  width: 20px;
  height: 20px;
  fill: #3f4246; }

@media (min-width: 768px) {
  .location-index {
    padding: 40px 32px; } }

.reservation {
  position: relative;
  padding: 40px 0;
  background-color: black;
  z-index: 1; }
  .reservation::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    background-image: url("../img/reservation-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    z-index: -1; }

@media (min-width: 768px) {
  .reservation {
    padding: 40px 84px; } }

.form__input-wrap {
  position: relative;
  margin-bottom: 45px;
  width: 100%; }
  .form__input-wrap:last-of-type {
    margin-bottom: 0; }

.form input,
.form textarea,
.form select {
  padding: 14px 19px;
  width: 100%;
  color: #71706f;
  background-color: rgba(103, 103, 103, 0.2);
  border: none; }

.form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.form textarea {
  resize: none; }

.reservation-form {
  padding: 60px 40px 70px;
  background-color: white; }

.reservation-form__title {
  margin-bottom: 8px; }

.reservation-form p {
  margin-bottom: 30px;
  text-align: center; }

.reservation-form .form__select-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 18px;
  height: 16px;
  background-color: transparent;
  transform: translate(0, -50%); }
  .reservation-form .form__select-arrow::before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: transparent;
    left: 2px;
    top: -2px;
    border: 3px solid #505050;
    border-top: none;
    border-left: none;
    transform: rotate(45deg); }

.reservation-form textarea {
  min-height: 150px; }

.reservation-form__btn {
  margin: 0;
  margin-top: 40px;
  width: 100%; }

@media (min-width: 768px) {
  .reservation-form {
    padding: 60px 80px 70px; } }

.main-footer {
  position: relative;
  padding: 40px 16px 20px;
  color: white;
  background-color: black;
  z-index: 1; }
  .main-footer::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    background-image: url("../img/dark-background.jpg");
    background-size: cover;
    opacity: 0.4;
    z-index: -1; }

.main-footer__wellcoming {
  text-align: center;
  color: #9ba2aa; }

@media (min-width: 480px) {
  .main-footer {
    padding: 40px 24px 20px; } }

@media (min-width: 768px) {
  .main-footer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 30px;
    padding: 40px 32px; }
  .main-footer__logo {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 0;
    text-align: left; }
  .main-footer__wellcoming {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: left; }
  .main-footer__nav {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3; }
  .main-footer__subscription-form {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 3;
    grid-row-end: 3;
    margin: 0; }
  .main-footer__copyrights {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 4;
    grid-row-end: -1; } }

.footer-nav {
  margin-top: 30px;
  margin-bottom: 30px; }

.footer-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.footer-nav__item {
  margin-bottom: 20px; }
  .footer-nav__item:last-of-type {
    margin-bottom: 0; }

.footer-nav__link {
  display: block;
  color: inherit;
  text-decoration: none;
  text-align: center; }

@media (min-width: 768px) {
  .footer-nav {
    margin: 0; }
  .footer-nav__list {
    display: grid;
    grid-template-columns: repeat(3, 33%); }
  .footer-nav__link {
    text-align: left; } }

.subscribtion-form {
  margin-bottom: 30px; }

.subscribtion-form__inviting {
  margin-bottom: 10px;
  color: #9ba2aa; }

.subscribtion-form .form__input-wrap {
  margin-bottom: 8px; }

.subscribtion-form__btn {
  margin: 0;
  width: 100%; }

.copyrights {
  padding-top: 30px;
  border-top: 1px solid white;
  text-align: center;
  font-size: 12px;
  color: #9ba2aa; }

.copyrights a {
  display: block;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  color: #e59d75;
  text-decoration: underline; }

@media (min-width: 768px) {
  .copyrights {
    display: flex;
    flex-direction: row;
    justify-content: space-between; } }
