@font-face {
  font-family: "Rokkitt";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Rokkitt/Rokkitt-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Rokkitt";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Rokkitt/Rokkitt-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Rokkitt";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Rokkitt/Rokkitt-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Rokkitt";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Rokkitt/Rokkitt-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "Rokkitt";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Rokkitt/Rokkitt-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Rokkitt";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Rokkitt/Rokkitt-Black.ttf") format("truetype"); }

@font-face {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Libre Baskerville";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf") format("truetype"); }

/* font-styles */
/* colors */
/* measurements */
/** {
  outline: 1px solid red;
}*/
html {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #71706f;
  font-family: "Rokkitt";
  font-style: normal;
  color: #71706f;
  background-color: #ffffff; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

h1,
h2,
h3,
h4 {
  margin: 0; }

p {
  margin: 0; }

img {
  display: block;
  height: auto; }

input,
textarea {
  box-sizing: border-box; }

@media (min-width: 768px) {
  body {
    font-size: 12px;
    line-height: 18px; } }

@media (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 1.5; } }

.container {
  margin: 0 auto;
  max-width: 766px; }

.container--index {
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 768px 396px; }

.main-header {
  color: #ffffff; }

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  background-image: url("../img/dark-background.jpg"); }

.header-top__social .social__list {
  flex-direction: row; }

.header-top__social .social__item {
  margin-right: 12px; }
  .header-top__social .social__item:last-of-type {
    margin-right: 0; }

.header-top__social .social__link {
  position: relative;
  width: 26px;
  height: 26px;
  border: 1px solid #ffffff;
  border-radius: 50%; }

.header-top__social .social__link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  fill: #ffffff;
  transform: translate(-50%, -50%); }

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex; }

.social__link {
  display: block;
  color: inherit;
  text-decoration: none; }

.main-nav {
  padding: 46px 24px; }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none; }

.main-nav__link {
  display: block;
  color: inherit;
  text-decoration: none; }

.logo {
  display: block;
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 1;
  font-weight: 800; }

.toggler {
  width: 24px;
  height: 16px; }

.toggler__element {
  position: relative;
  display: block;
  width: 24px;
  height: 2px;
  background-color: #ffffff; }
  .toggler__element::before {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #ffffff;
    top: 6px;
    left: 0; }
  .toggler__element::after {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #ffffff;
    top: 12px;
    left: 0; }
