.gallery-index {
	position: relative;
	padding: 40px 0;
}

.gallery-index__container {
	padding: 0;
}

.gallery-index__title {
	margin-bottom: 30px;
}

.gallery-index__btn {
	margin: 0 5%;
	margin-top: 30px;
}

@media (min-width: 768px) {

	.gallery-index {
		padding: 40px 32px;
		text-align: center;
		overflow: hidden;
	}
}

@media (min-width: 992px) {
	.gallery-index {
		padding: 95px 40px 75px;
	}

	.gallery-index__title {
		margin-bottom: 50px;
	}

	.gallery-index__btn {
		margin-top: 50px;
	}
}


