.team__title {
	margin-bottom: 30px;
}

.team__list {
	@include list-style;
}

.team__item {
	margin-bottom: 30px;
	width: 100%;
	text-align: center;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.team__item img {
	width: 100%;
}

.team__item-name {
	margin-top: 30px;
	margin-bottom: 15px;
}

@media (min-width: 768px) {

	.team__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.team__item {
		margin-right: 30px;
		width: unset;
		min-width: 346px;

		&:nth-child(even) {
			margin-right: 0;
		}
	}
}
