.locations__secondary-title {
	margin-bottom: 30px;
}

.locations__list {
	@include list-style;
	margin-bottom: 30px;
	text-align: center;
}

.locations__item {
	padding: 30px 20px;
	border-bottom: 1px solid #e59e79;
}

.locations__element {
	margin-bottom: 20px;
}

.locations__header {
	display: block;
	margin-bottom: 12px;
	font-weight: 700;
}
