.locations__secondary-title {
	margin-bottom: 30px;
}

.locations__list {
	@include list-style;
	margin-bottom: 30px;
	text-align: center;
}

.locations__item {
	padding: 30px 20px;
	border-bottom: 1px solid #e59e79;

	&:first-of-type {
		display: none;
	}
}

.locations__element {
	margin-bottom: 20px;
}

.locations__title {
	display: block;
	margin-bottom: 12px;
	font-weight: 700;
}

@media (min-width: 768px) {

	.locations__container {
		text-align: center;
	}

	.locations__list {
		margin-bottom: 40px; 
	}

	.locations__item {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 20px 40px;
		border-width: 2px;

		&:first-of-type {
			display: flex;
		}
	}

	.locations__element {
		margin-bottom: 0;
	}

  .locations__title {
  	display: none;
  }

  .locations__title--table {
  	display: block;
  }

  .locations__btn {
  	margin: 0 auto;
  }
}

@media (min-width: 1080px) {

	.locations__list {
		margin: 0 auto;
		margin-bottom: 40px;
		width: 1000px;
	}
}
