.menu-articles {
	@include list-style;
	display: flex;
	flex-direction: column;
}

.menu-articles__item {
	margin-bottom: 30px;
	padding: 50px 40px;
	background-color: $white;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.menu-articles__item-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 15px;
}

.menu-articles__article-price {
	font-size: 18px;
	font-weight: 700;
	color: $titles-color;
}
