.job {
	padding-bottom: 40px;
}

.job__title {
	margin-bottom: 20px;
}

.job__intro {
	margin-bottom: 30px;
	text-align: center;
	font-size: 18px;
	line-height: 1.5; 
}

.job__picture-container {
	margin-bottom: 30px;
	width: 100%;
}

.job__picture-container img {
	width: 100%;
}
