.cafes {
	padding: 40px 16px;
	background-image: url("../img/dark-background.jpg");
}

.cafes__title {
	margin-bottom: 30px;
	color: $white;
}

.cafes__list {
	@include list-style;
	display: flex;
	flex-direction: column;
}

.cafes__item {
	margin-bottom: 27px;
	background-color: $white;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.cafes__picture-wrap {
	position: relative;
	max-height: 180px;
	min-height: 180px;
	width: 100%;
	overflow: hidden;
}

.cafes__picture-wrap img {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cafes__text-wrap {
	padding: 30px 15px;
}

.cafes__article-title {
	margin-bottom: 15px;
}

.cafes__article-link {
	@include link-style;
	margin-top: 15px;
	color: $links-color;
	font-family: "Libre Baskerville";
}

.cafes__btn {
	margin: 0;
	margin-top: 30px;
	width: 100%;
}

@media (min-width: 570px) {

  .cafes__picture-wrap {
    min-height: 180px;
    max-height: 321px;
  }
}

