.container {
	margin: 0 auto;
	max-width: 766px;
}

.container--index {
	background-image: url("../img/header-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 768px 396px;
}
