.gallery-index {
	position: relative;
	padding: 40px 0;
}

.gallery-index__title {
	margin-bottom: 30px;
}

.gallery-index__list-wrap {
	position: relative;
}

.gallery-index__list {
	@include list-style;
}

.gallery-index__item {
	display: none;
	width: 100%;
}

.gallery-index__item--active {
	display: block;
}

.gallery-index__item img {
	width: 100%;
}

.gallery-index__btn {
	margin-top: 30px;
}

.gallery-index__big-picture-container {
	display: none;
}

@media (min-width: 768px) {

	.gallery-index {
		padding: 40px 32px;
		text-align: center;
		overflow: hidden;
	}

	.gallery-index__big-picture-container {
		display: block;
		margin-bottom: 30px;
		min-height: 352px;
		width: 100%;
		background-color: $input-bg;
	}

	.gallery-index__big-picture-container img {
		width: 100%;
	}

	.gallery-index__list {
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-column-gap: 20px;
		margin: 0 50px;
	}

	.gallery-index__item {
		width: auto;
		min-height: 67px;
	}

	.gallery-index__item img {
		min-height: 67px;
	}

	.gallery-index__handlers {
		width: 95%;
	}
}

@media (min-width: 992px) {
	.gallery-index {
		padding: 95px 40px 75px;
	}

	.gallery-index__title {
		margin-bottom: 50px;
	}

	.gallery-index__big-picture-container {
		margin-bottom: 50px;
		min-height: 392px;
	}

	.gallery-index__item {
		min-height: 129px;
	}

	.gallery-index__item img {
		min-height: 129px;
	}

	.gallery-index__list {
		margin: 0 100px;
	}

	.gallery-index__btn {
		margin-top: 50px;
	}
}


