.header-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 6px 16px;
	background-image: url("../img/dark-background.jpg");
}

.header-top__social .social__list {
	flex-direction: row;
}

.header-top__social .social__item {
	margin-right: 12px;

	&:last-of-type {
		margin-right: 0;
	}
}

.header-top__social .social__link {
	position: relative;
	width: 26px;
	height: 26px;
	border: 1px solid $white;
	border-radius: 50%;
}

.header-top__social .social__link svg {
	width: 16px;
	height: 16px;
	fill: $white;
}
