.main-nav {
  margin-bottom: 34px;
	padding: 46px 24px;
}

.main-nav__list {
	@include list-style;
	display: none;
}

.main-nav__link {
	@include link-style;
}

@media (min-width: 768px) {

	.main-nav {
		margin-bottom: 90px;
		padding: 46px 32px;
	}
}
