.main-nav {
  margin-bottom: 34px;
	padding: 46px 24px;
}

.main-nav--mobile {
	padding-bottom: 70px;
	color: $titles-color;
	background-color: $white;
}

.main-nav__list {
	@include list-style;
	display: none;
}

.main-nav__list--shown {
	display: block;
}

.main-nav__item {
	margin-bottom: 20px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.main-nav__link {
	@include link-style;
}

@media (min-width: 768px) {

	.main-nav {
		margin-bottom: 90px;
		padding: 46px 32px;
	}
}

@media (min-width: 1024px) {

	.main-nav {
		margin-bottom: 160px;
	}

	.main-nav__logo {
		margin-bottom: 40px;
		font-size: 40px;
	}
  
  .main-nav__toggler {
  	display: none;
  }

  .main-nav__list {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.main-nav__item {
		margin-bottom: 0;
		margin-right: 30px;

		&:last-of-type {
			margin-right: 0;
		}
	}
}
