.menu-page {
	background-image: url("../img/light-background.jpg");
	background-repeat: no-repeat;
}

.menu-page__title {
	margin-bottom: 40px;
	padding: 40px 0 40px;
	background-image: url("../img/menu-page-title-mobile.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.menu-page_introducing {
	text-align: center;
}
