.title {
	text-align: center;
	color: $white;
	font-size: 32px;
	line-height: 1;
	font-weight: 800;
}

.title__secondary {
	text-align: center;
	color: $titles-color;
	font-size: 24px;
  font-weight: 800;
  line-height: 1.1;
}

.title__third {
	color: $titles-color;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.1;
}

@media (min-width: 768px) {

	.title {
		font-size: 62px;
	}

	.title__secondary {
		font-size: 26px;
	}

	.title__third {
		font-size: 20px;
	}
}

@media (min-width: 1024px) {

	.title {
		font-size: 92px;
	}

	.title__secondary {
		font-size: 28px;
	}

	.title__third {
		font-size: 22px;
	}
}
