.contacts-details {
	margin-bottom: 30px;
	padding-top: 30px;
}

.contacts-details__list {
	@include list-style;
}

.contacts-details__item {
	margin-bottom: 30px;
	display: grid;
	grid-template-columns: 150px auto;
	align-items: baseline;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.contacts-details__item p {
	text-align: left;
	font-size: 17px;
	color: $titles-color;
}

.contacts-details__item--phone p {
	font-weight: 700;
	color: rgb(229, 157, 117);
	text-decoration: underline;
}

@media (min-width: 992px) {

	.contacts-details {
		margin-bottom: 50px;
	}
}
