.contacts-page {
	position: relative;
	padding-bottom: 40px;
	background-color: $white;
	z-index: 1;

	&::before {
		@include element-style(100%, 100%, transparent);
		top: 0;
		left: 0;
		background-image: url("../img/light-background.jpg");
		opacity: 0.4;
	  z-index: -1;
	}
}

.contacts-page__title {

	&::before {
		background-image: url("../img/contact-page-title.jpg");
	}
}

@media (min-width: 992px) {

	.contacts-page__container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.contacts-page__form-wrap {
		flex-basis: 48.3%;
	}
}
